@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte01: Verdana, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}

header {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

header > h1 {
    color: white;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 10vw; /* 10% largura da tela, adapta com o tamanho da tela */
}

header > p {
    color: white;
    font-family: var(--fonte01);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 3.5vw; /* 4.5% de largura */
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(63, 63, 63);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.658);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: var(--fonte01);
}

